/* styles.css */

h {
 font-size: xx-large;
 font-weight: bold;
 font-family: Arial, Helvetica, sans-serif;
 color:rgb(139, 80, 80);
 text-align: center;
}

h {
    font-size: large;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(139, 80, 80);
    text-align: center;
   }

   .bodytext {
    
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(80, 80, 80);
   }

#floppy {
    width: 30%;
    height: auto;          /* Adjust height to maintain aspect ratio */
    object-fit: cover;
    object-position: center;
    display: block;        /* Ensure image is treated as block element */
    margin: 0 auto;        /* Center horizontally */
}

#container {
    max-width: 720px;
    margin: 0 auto 0 auto; /* this margin 0 on top auto on left and right 0 bottom */
}

#buttoncontainer {
    text-align: center;
}


.bg-success {
background-color: #16154d !important; /* Use your custom color here */
}

#this modifies popoover colors

.popover {
    background-color: #003366; /* Dark blue background */
    color: #ffffff; /* White text color */
    border: 1px solid #003366; /* Dark blue border */
}

.popover .popover-title {
    background-color: #002244; /* Even darker blue for the title */
    color: #ffffff; /* White text color */
}

.popover .popover-content {
    color: #ffffff; /* Ensure content text color is white */
    background-color: #1e5200; /* Even darker blue for the title */
}