<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container my-5">

    <footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Form -->
      <section class="">
        <form action="">
          <!--Grid row-->
          <div class="row d-flex justify-content-center">
            <!--Grid column-->
            <div class="col-auto">
              <p class="pt-2">
                <strong>Contact ServiceDesk</strong>
              </p>
            </div>
            <!--Grid column-->
  
            <!--Grid column-->
            <div style="border: 2px solid white;margin: 10px auto; padding: 10px 20px;display:block;" class="col-auto">
                <!-- Mailto button with subject -->
                <a href="mailto:servicedesk@pmgroup-global.com?subject=Software%20Register%20Query">
                    <button type="button" class="btn btn-outline-light mb-4 custom-btn">
                        Contact
                    </button>
                </a>
            </div>
            <!--Grid column-->
  
          </div>
          <!--Grid row-->
        </form>
      </section>
      <!-- Section: Form -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
