<div class="row border-bottom" style="margin-bottom:16px;padding-bottom: 4px;">
    <div class="col-md-9">
        <h4 style="color: rgb(120, 120, 120);">{{ software['Software_Name'] }}</h4>
        <div><b>Licensing:</b> {{ software['License_Type'] }}</div>
        <div><b>Approval:</b> {{ software['Approved'] }}</div>
    </div>
    <div class="col-md-3 d-flex align-items-center justify-content-end">
        <a href="/application/{{ software['id'] }}" type="button" class="btn btn-outline-info">More Info</a>
    </div>
</div>
