{% for software in software_list %}
    <div class="row border-bottom mb-3 pb-2">
        <div class="col-md-9">
            <h4 style="color: rgb(120, 120, 120);">{{ software['Software_Name'] }}</h4>
            <div><b>Licensing:</b> {{ software['License_Type'] }}</div>
            <div><b>Approval:</b> {{ software['Approved'] }}</div>
        </div>
        <div class="col-md-3 d-flex align-items-center justify-content-end">
            <!-- Popover Button -->
            <button type="button" class="btn btn-outline-info" 
                    data-toggle="popover" 
                    title="{{ software['Software_Name'] }}" 
                    data-html="true" 
                    data-content='<b>Comment:</b> {{ software["Comments"] }}</a>'>
                More Info

            </button>
        </div>
    </div>
{% endfor %}
